<footer class="footer">
  <div class="container-fluid">
    <div class="container">

      <div class="row align-items-start py-4">

        <!-- IZQUIERDA -->
        <div class="col-auto footer-left">
          <h4>{{ 'FOOTER.CONTACT' | translate }}</h4>
          <p class="footer-item"><i class="fa-solid fa-phone"></i> +34 685 39 86 59</p>
          <p class="footer-item"><i class="fa-regular fa-envelope"></i> correo@gmail.com</p>
        </div>

        <!-- ESPACIADOR CENTRAL -->
        <div class="col"></div>

        <!-- DERECHA -->
        <div class="col-md-auto col-12 d-flex justify-content-md-end justify-content-center">
          <img src="/images/logos/logo-grande.png" class="footer-logo">
        </div>

      </div>

      <div class="row">
        <div class="col">
          <div class="footer-divider"></div>
        </div>
      </div>

      <div class="row text-center pt-2">
        <p class="footer-copy">{{ 'FOOTER.PROJECT' | translate }}</p>
      </div>

    </div>
  </div>
</footer>
