@use "../../../../styles/abstracts/variables" as *;

// BOTONES CANCELAR/GUARDAR
.edit-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;

  button {
    flex: 1;
  }

  @media (max-width: $bp-sm) {
    flex-direction: column;
  }
}

/*.parking-card {
    background: $color-white;
    border: 1px solid $color-border;
    border-radius: $radius-md;
    padding: 1.2rem;
    box-shadow: $shadow-soft;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}*/

.profile-avatar-preview {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid $color-border;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: $bp-sm) {
  .form-standard .section-title:nth-of-type(2) {
    margin-top: $space-xxl;
  }

  .form-group--dni {
    margin-top: 2.1rem;
  }

  .edit-buttons .btn {
    margin-top: $space-lg;
  }

  .edit-buttons .btn-save {
    margin-top: $space-sm;
  }
}
