@use "../abstracts/mixins" as *;
@use '../abstracts/variables' as *;
.page-wrapper {
  @include responsive-padding;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex-grow: 1;
  
  // 1. Necesitamos posicionamiento relativo para contener el pseudoelemento
  position: relative; 
  // 2. Asegura que el contenido quede por encima de la imagen de fondo
  z-index: 1; 

  &::before {
    content: "";
    // 3. Lo posicionamos para que ocupe todo el ancho y alto del contenedor
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    // 4. Añadimos la imagen y la opacidad que quieras (ej: 0.3 para un 30%)
    // Borra lo anterior y déjalo así:
    background-image: url("/images/logos/background.png");
    background-size: cover;
    background-position: center;
    opacity: 0.3; 
    
    // 5. Lo mandamos al fondo para que no tape el texto
    z-index: -1; 
  }
}

.parking-card {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background: white;
  border-radius: 10px;
  border: 1px solid $color-border;
  box-shadow: $shadow-strong;
  overflow: hidden;
}
.legal-card {
  gap: 1rem;
  padding: 1rem;
  background: white;
  border-radius: 10px;
  border: 1px solid $color-border;
  box-shadow: $shadow-strong;
  overflow: hidden;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-header {
  flex-shrink: 0;
}


app-footer {
  flex-shrink: 0;
}

.error-general {
  background-color: rgba($color-error, 0.08);
  border-left: 4px solid $color-error;
  padding: $space-sm $space-md;
  border-radius: $radius-sm;
  margin-bottom: $space-lg;
  color: $color-error;
  
  ul {
    list-style: none;
    margin: 0;
    padding-left: 1rem;
  }
}

.success-general {
  background-color: rgba($color-success, 0.12);
  border-left: 4px solid $color-success;
  padding: $space-sm $space-md;
  border-radius: $radius-sm;
  margin-bottom: $space-lg;
  color: darken($color-success, 20%);

  ul {
    margin: 0;
    padding-left: 1rem;
  }
}
