@if (items().length > 0) {
  <nav class="breadcrumb-nav" [attr.aria-label]="'BREADCRUMB.ARIA_LABEL' | translate">
    <div class="container">
      <ol class="breadcrumb">
        @for (item of items(); track item.labelKey + $index; let last = $last) {
          <li class="breadcrumb-item" [class.active]="last">
            @if (!last && item.url) {
              <a [routerLink]="item.url" (click)="onCrumbClick($event, item.url)">{{ item.labelKey | translate }}</a>
            } @else {
              <span>{{ item.labelKey | translate }}</span>
            }
          </li>
        }
      </ol>
    </div>
  </nav>
}
